
__pycache__/
*.py[cod]
*$py.class

*.log
db.sqlite3
media/
staticfiles/

.env
*.env
.env.*
*.bak
secrets.json

venv/
.venv/
env/
ENV/

.vscode/
.idea/
*.swp
*.swo

.DS_Store
Thumbs.db

*.pyo
*.pyd

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
