{% extends 'base.html' %}

{% block page_title %}
    Subject Info
{% endblock %}

{% block content %}
    {% include 'includes/header.html'%}

    <h3> {{subject.name|title}} Info: </h3>
    <p>Daily Goal: {{subject.daily_goal}} minutes</p>
    <p>Total Time Studied: {{progress}} minutes</p>

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="edit_goal">
        {{ form }}
        <button>Edit</button>
    </form>

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete_subject">
        <button>Delete Subject</button>
    </form>

    {% if messages %}
        {% for message in messages %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
    {% endif %}

{% endblock %}




