{% extends 'base.html' %}
{% load static %}

{% block page_title %}
    Subject Info
{% endblock %}

{% block content %}
{% include 'includes/header.html'%}

    <h3> {{subject.name|title}} Info: </h3>
    <p>Daily Goal: {{subject.daily_goal}} minutes</p>
    <p>Total Time Studied: {{progress}} minutes</p>

    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="action" value="edit_goal">
        {{ form }}
        <button>Edit</button>
    </form>

    <form method="post" action="">
      {% csrf_token %}
      <input type="hidden" name="action" value="delete_subject">
      <button type="submit" onclick="return confirmDelete()">Delete Subject</button>
    </form>

<script>
function confirmDelete() {
    return confirm("Are you sure you want to delete this subject and all its history?");
}
</script>

{% endblock %}




